img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    text-transform: uppercase;
    border-bottom: 3px solid #838383;
    width: 40%;
    margin-left: calc(10%/6);
    padding: 1em 0;

    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5em;
}